<%= form_with(model: idea, local: true, class: "flex flex-col m-4") do |form| %>
  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :title, class: "text-2xl font-bold mb-1" %>
    <%= form.text_field :title, id: :idea_title, placeholder: "Your awesome idea", class: "appearance-none p-3 text-lg" %>

    <%= form.label :description, class: "text-2xl font-bold mb-1 mb-2" %>
    <%= form.text_area :description, id: :idea_description, rows: 20, placeholder: "What's it all about ?", class: "appearance-none p-3 text-lg" %>
    <div class="mx-auto w-full max-w-xs">
      <%= form.submit class: "shadow bg-purple p-2 py-3 mt-3 text-xl font-bold rounded-full text-white text-center w-full" %>
    </div>
<% end %>
