<div class="container mx-auto mx-6 mt-4">
  <div class="flex justify-between items-center">
    <h2 class="md:text-3xl">Your ideas</h2>
    <div class="flex mt-2">
        <%= link_to 'New Idea', new_idea_path, class: "shadow-md no-underline rounded-full py-2 px-3 bg-purple text-white mr-2" %>
        <%= link_to 'âš™ï¸', edit_user_registration_path, class: "shadow-md no-underline rounded-full py-2 px-3 bg-white text-purple" %>
        
    </div>
  </div>
  <% if @ideas.empty? %>
    <div class="flex flex-col justify-center items-center text-center" style="height: 80vh;">
      <p class="text-2xl font-bold text-grey-darker">You don't have any ideas yet</p>
      <p class="text-lg text-grey-darker">Get started by creating a new one !</p>
    </div>
  <% end %>
  <% @ideas.each do |idea| %>
      <div class="flex flex-wrap mt-4">
    <div class="lg:w-1/4 md:w-1/2 px-2 mb-2 ">
      <div class="shadow-md rounder-lg p-4">
        <div class="text-2xl font-bold mb-3"><%= idea.title %></div>
        <div class="text-lg">
          <%= idea.description %>
        </div>
        <div class="mt-6">
          <%= link_to 'Show', idea, class: "rounded-full shadow px-4 py-2 no-underline text-white bg-blue" %>
          <%= link_to 'Edit', edit_idea_path(idea), class: "rounded-full shadow px-4 py-2 no-underline text-white bg-green" %>
          <%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' }, class: "rounded-full shadow px-4 py-2 no-underline text-white bg-red" %>
        </div>
      </div>
    </div>
  <% end %>
  

</div>
